---
import { getLocaleByPath, getRelativeLocaleUrl } from 'astro:i18n';
import HeaderLink from './HeaderLink.astro';

const locale = Astro.currentLocale || getLocaleByPath(Astro.url.pathname);

// localed
const productsURL = getRelativeLocaleUrl(locale, 'products');
const aboutURL = getRelativeLocaleUrl(locale, 'about');
const contactURL = getRelativeLocaleUrl(locale, 'contact');
const designsURL = getRelativeLocaleUrl(locale, 'designs');
const homeURL = getRelativeLocaleUrl(locale, '/');
const currentPath = Astro.url.pathname;
---

<header
	class="flex gap-8 w-full justify-between items-center p-8 border-b-2 border-skin-base relative shadow-2xl"
	dir={locale === 'en' ? 'ltr' : 'rtl'}
>
	<!-- <img src="/" alt="Machlist logo" /> -->

	{
		locale === 'en' ? (
			<>
				<a href="/en" class="text-[3rem] min-w-max">
					Machlist
				</a>
				<nav class="w-max flex py-4 px-2 gap-4 justify-start items-center overflow-x-auto overflow-y-visible whitespace-nowrap">
					<HeaderLink
						highlighted={currentPath == homeURL}
						link={homeURL}
					>
						Homepage
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(productsURL)}
						link={productsURL}
					>
						Products
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(designsURL)}
						link={designsURL}
					>
						Designs
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(aboutURL)}
						link={aboutURL}
					>
						About Us
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(contactURL)}
						link={contactURL}
					>
						Contact us
					</HeaderLink>
				</nav>
			</>
		) : (
			<>
				<a href="/ar" class="text-[3rem] min-w-max">
					ماك-ليست
				</a>
				<nav class="w-max flex py-4 px-2 gap-4 justify-start items-center overflow-x-auto overflow-y-visible whitespace-nowrap">
					<HeaderLink
						highlighted={currentPath == homeURL}
						link={homeURL}
					>
						الصفحة الرئيسية
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(productsURL)}
						link={productsURL}
					>
						منتجاتنا
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(designsURL)}
						link={designsURL}
					>
						تصميمات
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(aboutURL)}
						link={aboutURL}
					>
						عنّا
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(contactURL)}
						link={contactURL}
					>
						اتصل بنا
					</HeaderLink>
				</nav>
			</>
		)
	}
</header>

<style>
	header {
		background-image: linear-gradient(
			225deg,
			hsla(var(--color-primary), 0.5),
			transparent
		);
		border-bottom: 2px solid hsl(var(--color-primary));
		border-image-slice: 1;
		border-image-source: linear-gradient(
			90deg,
			hsl(var(--color-accent)),
			hsl(var(--color-accent-1))
		);
	}
	header::before {
		content: '';
		background-image: url(/grain.png);
		background-size: contain;
		filter: brightness(10%);
		opacity: 0.1;
		position: absolute;
		inset: 0;
		z-index: -1;
		mask-image: linear-gradient(45deg, black, transparent);
	}
</style>
