---
import { getLocaleByPath, getRelativeLocaleUrl } from 'astro:i18n';
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon/components';
import LanguageSelector from './svelte/LanguageSelector.svelte';

const locale = Astro.currentLocale || getLocaleByPath(Astro.url.pathname);

// localed
const productsURL = getRelativeLocaleUrl(locale, 'products');
const aboutURL = getRelativeLocaleUrl(locale, 'about');
const contactURL = getRelativeLocaleUrl(locale, 'contact');
const designsURL = getRelativeLocaleUrl(locale, 'designs');
const homeURL = getRelativeLocaleUrl(locale, '/');
const currentPath = Astro.url.pathname;

const items = [
	{
		label: 'English',
		value: 'en',
		href: currentPath.replace(/\/(en|ar)/g, '/en')
	},
	{
		label: 'العربية',
		value: 'ar',
		href: currentPath.replace(/\/(en|ar)/g, '/ar')
	}
];
---

<header
	class="flex flex-row-reverse gap-8 w-full justify-between items-center p-8 border-b-2 border-skin-base relative shadow-2xl"
	dir={locale === 'en' ? 'ltr' : 'rtl'}
>
	<!-- <img src="/" alt="Machlist logo" /> -->

	{
		locale === 'en' ? (
			<>
				<a href="/en" class="text-[3rem] min-w-max">
					Machlist
				</a>
				<nav class="w-max flex py-4 px-2 gap-4 justify-start items-center overflow-x-auto overflow-y-visible whitespace-nowrap">
					<HeaderLink
						highlighted={currentPath == homeURL}
						link={homeURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-home" />
							Homepage
						</span>
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(productsURL)}
						link={productsURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-shopping-cart" />
							Products
						</span>
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(designsURL)}
						link={designsURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-design-services" />
							Designs
						</span>
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(aboutURL)}
						link={aboutURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-info" />
							About Us
						</span>
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(contactURL)}
						link={contactURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-contact-support" />
							Contact us
						</span>
					</HeaderLink>
					<div class="px-4 py-2 w-[15rem] text-3xl text-nowrap min-w-[13rem] rounded-md transition-all duration-150">
						<LanguageSelector
							client:visible
							locale={locale}
							items={items}
						>
							<span slot="check">
								<Icon name="ic:round-check" />
							</span>
							<Icon name="ic:outline-keyboard-double-arrow-down" />
						</LanguageSelector>
					</div>
				</nav>
			</>
		) : (
			<>
				<a href="/ar" class="text-[3rem] min-w-max">
					ماك-ليست
				</a>
				<nav class="w-max flex py-4 px-2 gap-4 justify-start items-center overflow-x-auto overflow-y-visible whitespace-nowrap">
					<HeaderLink
						highlighted={currentPath == homeURL}
						link={homeURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-home" />
							الصفحة الرئيسية
						</span>
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(productsURL)}
						link={productsURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-shopping-cart" />
							منتجاتنا
						</span>
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(designsURL)}
						link={designsURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-design-services" />
							تصميمات
						</span>
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(aboutURL)}
						link={aboutURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-info" />
							عنّا
						</span>
					</HeaderLink>
					<HeaderLink
						highlighted={currentPath.includes(contactURL)}
						link={contactURL}
					>
						<span class="flex gap-2">
							<Icon name="ic:twotone-contact-support" />
							اتصل بنا
						</span>
					</HeaderLink>
					<div class="px-4 py-2 text-3xl text-nowrap min-w-max rounded-md transition-all duration-150">
						<LanguageSelector
							client:visible
							locale={locale}
							items={items}
						>
							<span slot="check">
								<Icon name="ic:round-check" />
							</span>
							<Icon name="ic:outline-keyboard-double-arrow-down" />
						</LanguageSelector>
					</div>
				</nav>
			</>
		)
	}
</header>

<style>
	header {
		background-image: linear-gradient(
			225deg,
			hsla(var(--color-primary), 0.5),
			transparent
		);
		border-bottom: 2px solid hsl(var(--color-primary));
		border-image-slice: 1;
		border-image-source: linear-gradient(
			90deg,
			hsl(var(--color-accent)),
			hsl(var(--color-accent-1))
		);
	}
	header::before {
		content: '';
		background-image: url(/grain.png);
		background-size: contain;
		filter: brightness(10%);
		opacity: 0.1;
		position: absolute;
		inset: 0;
		z-index: -1;
		mask-image: linear-gradient(45deg, black, transparent);
	}
</style>
