---
import LocaledContent from "./LocaledContent.astro";

interface Props {
	prod_rate: number | undefined;
	prod_unit: "Kg/h" | "m/min" | "كغ/ساعة" | "متر/دقيقة" | undefined;
	title: string;
	name: string;
	model: string;
}

const { prod_rate, prod_unit, title, model } = Astro.props;
---

<LocaledContent>
	<Fragment slot="en">
		<div
			dir="ltr"
			style={{
				border: "2px solid hsla(var(--color-neutral), 0.8)",
				"border-block-end": "10px solid hsla(var(--color-neutral), 1)",
				"box-shadow": "0 0 10px hsla(var(--color-neutral), 0.3)"
			}}
			class="rounded-xl md:w-max w-full mx-auto py-12 md:px-[10rem] px-4 bg-gradient-to-b from-skin-accent to-skin-accent-1 my-[2rem] text-center shadow-xl"
		>
			<h1 dir="ltr" class="text-[4rem] font-bold">
				{title}
			</h1>
			{
				prod_rate && (
					<p dir="ltr" class="text-[2rem]">
						Production rate:{" "}
						<span class="font-bold">{prod_rate}</span>{" "}
						{prod_unit ? prod_unit : "Kg/h"}
					</p>
				)
			}
			<p class="text-[2rem]">
				Model: <span class="font-bold">{model}</span>
			</p>
		</div>
	</Fragment>
	<Fragment slot="ar">
		<div
			dir="rtl"
			style={{
				border: "2px solid hsla(var(--color-neutral), 0.8)",
				"border-block-end": "10px solid hsla(var(--color-neutral), 1)",
				"box-shadow": "0 0 10px hsla(var(--color-neutral), 0.3)"
			}}
			class="rounded-xl md:w-max w-full mx-auto py-12 md:px-[10rem] px-4 bg-gradient-to-b from-skin-accent to-skin-accent-1 my-[2rem] text-center shadow-xl"
		>
			<h1 dir="rtl" class="text-[4rem] font-bold">
				{title}
			</h1>
			{
				prod_rate && (
					<p dir="rtl" class="text-[2rem]">
						معدل الإنتاج: <span class="font-bold">{prod_rate}</span>{" "}
						{prod_unit ? prod_unit : "كغ/ساعة"}
					</p>
				)
			}
			<p class="text-[2rem]">
				موديل: <span class="font-bold">{model}</span>
			</p>
		</div>
	</Fragment>
</LocaledContent>
