---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import LocaledContent from "./LocaledContent.astro";

interface Props {
	title: string;
	slug: string;
	cover: ImageMetadata;
	production_rate?: number;
	production_unit?: "Kg/h" | "m/min" | "كغ/ساعة" | "متر/دقيقة";
	model?: string;
}
const { title, slug, cover, production_rate, production_unit, model } =
	Astro.props;
---

<LocaledContent>
	<Fragment slot="ar">
		<a
			href={getRelativeLocaleUrl("ar", slug)}
			aria-label={title}
			class="product-card text-center p-8 pb-24 flex flex-col max-h-[500px] w-full max-w-[400px] mx-auto gap-4 justify-between items-center bg-gradient-to-br from-skin-accent to-skin-accent-1 shadow-md transition-all duration-150 \
							hover:-translate-y-4 hover:shadow-lg hover:shadow-[hsla(var(--color-neutral),0.3)] hover:rounded-lg
							focus:-translate-y-4 focus:shadow-lg focus:shadow-[hsla(var(--color-neutral),0.3)] focus:rounded-lg focus:outline-dashed"
		>
			<Image
				class="w-full h-[15rem] object-cover rounded-lg"
				src={cover}
				alt={title}
			/>
			<h2 class="text-[clamp(1.5rem,5dvw,3rem)] font-extrabold" dir="rtl">
				{title}
			</h2>
			{
				production_rate && (
					<p class="text-[2.2rem] text-center">
						معدل الإنتاج:{" "}
						<span class="underline font-bold">
							{production_rate}{" "}
							{production_unit ? production_unit : "كغ/ساعة"}
						</span>
					</p>
				)
			}

			<p class="text-[2.2rem]">
				الموديل: <span class="underline font-bold">{model}</span>
			</p>
		</a>
	</Fragment>
	<Fragment slot="en">
		<a
			href={getRelativeLocaleUrl("en", slug)}
			aria-label={title}
			class="product-card text-center p-8 pb-24 flex flex-col max-h-[500px] w-full max-w-[400px] mx-auto gap-4 justify-between items-center bg-gradient-to-br from-skin-accent to-skin-accent-1 shadow-md transition-all duration-150 \
							hover:-translate-y-4 hover:shadow-lg hover:shadow-[hsla(var(--color-neutral),0.3)] hover:rounded-lg
							focus:-translate-y-4 focus:shadow-lg focus:shadow-[hsla(var(--color-neutral),0.3)] focus:rounded-lg focus:outline-dashed"
		>
			<Image
				class="w-full h-[15rem] object-cover rounded-lg"
				src={cover}
				alt={title}
			/>
			<h2 class="text-[clamp(1.5rem,5dvw,3rem)] font-extrabold">
				{title}
			</h2>
			{
				production_rate && (
					<p class="text-[2.2rem]">
						Production rate:{" "}
						<span class="underline font-bold">
							{production_rate}{" "}
							{production_unit ? production_unit : "Kg/h"}
						</span>
					</p>
				)
			}

			<p class="text-[2.2rem]">
				Model: <span class="underline font-bold">{model}</span>
			</p>
		</a>
	</Fragment>
</LocaledContent>

<style>
	.product-card {
		animation: slide-up 1s ease-in-out alternate;
		animation-timeline: view(block);
		animation-range: cover 0% cover 25%;
	}

	@keyframes slide-up {
		from {
			translate: 0 25%;
			opacity: 0.4;
		}
		to {
			translate: 0 0;
			opacity: 1;
		}
	}

	@media (width <= 768px) {
		.product-card {
			animation: none;
		}
		.product-card:not(:nth-child(1)) {
			animation: slide-up 1s ease-in-out alternate;
			animation-timeline: view(block);
			animation-range: cover 0% cover 30%;
		}

		@keyframes slide-up {
			from {
				translate: 25% 0;
				opacity: 0;
			}
			to {
				translate: 0 0;
				opacity: 1;
			}
		}
	}
</style>
